form.products{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fd6505;

    display: inline-block;
    width: 25.3%;
    height: 45%;
    padding-bottom: 40px;
    margin: 15px 4%;
}

input{
    display: inline-block;
    margin: 3px auto;
    width: 80%;

    padding: 5px 10px;
    border-radius: 7px;

    color: black;
}

input.buy{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 10px;
    margin: 10px auto;
    height: 2.5rem;
    width: 50%;

    background:linear-gradient(45deg, #04d361, #05ac50);
    font-weight: 500;
    color: white;
}

input.buy:hover{
    cursor: pointer;
    background:linear-gradient(45deg,#05ac50, #04d361);
}

.file-div{
    margin: 15px auto;
    width: 88%;
    height: 19rem;
    border-radius: 3px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-Content:center;
}


input[type="file"] {
    display: none;
}

.icons {
    display: block;
    margin: auto;

    cursor: pointer;
}

.dados-container {
    display: flex;
    justify-content: space-between;
}

p.message-erro {
    display: block;
    padding-top: 5px;
    font-size: 10pt;
}

.ingredients-form {
    display: flex;
    margin-top: 45px;
}

.ingredients-button {
    width: 10%;
    background:linear-gradient(45deg, #04d361, #05ac50);
    border-radius: 10px;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
