footer#container-footer{
    margin: 0;
    padding: 15px 30px;
    background: black;

    display: flex;
    justify-content: space-between;
}

textarea#suggestion{

    color: black;
}
a{
    text-decoration: none;
}
a#icons-social{
    display: inline-block;
    margin-left: 80%;
}
p{
    margin-bottom: 5px;
}
p#login-admin-text{
    cursor: pointer;
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.384);
    margin-left: 70%;
    margin-top: 5%;
    font-size: 7pt;
}

#submit-suggestion{
    padding: 3px 10px;
    border-radius: 3px;
    width: 40%;
    margin: 0;
    display: block;
    color: black;
    background: linear-gradient(45deg,#04d361,#05ac50);
    cursor: pointer;
}
#submit-suggestion:hover{
    background: linear-gradient(45deg, #05ac50,#04d361);
}
div#login-admin{
    display: none;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(58, 57, 57, 0.808);
    padding:1px 0px 30px 0px;
}
div#login-admin h1{
    color: white;
    font-size: 1rem;
    color: #fd6505;
}
div#login-admin input{
    color: black;
    font-size: 10px;
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 2px 0px 2px 5px;
}

div#login-admin input#button-login{
    color: black;
    display: block;
    padding: 2px 0px 2px 5px;
    width: 40%;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(45deg,#04d361,#05ac50);
    color: blanchedalmond;
}
div#login-admin input#button-login:hover{
    background: linear-gradient(45deg, #05ac50,#04d361);
}

div#login-admin header{
    display: flex;
    justify-content: space-between;
}

div#login-admin header li{
    list-style: none;
    display: inline-block;
    border: 1px solid rgb(73, 73, 73);
    padding: 0% 9.9%;
    cursor: pointer;
}
div#container-login{
    width: 80%;
    display: inline-block;
}
div#container-acesso {
display: none;
}

div#container-acesso input{
    color: black;
    font-size: 10px;
    display: block;
    margin-left: 10%;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 80%;
    padding: 2px 0px 2px 5px;
}
div#container-acesso input#button-acesso{
    color: black;
    display: block;
    padding: 2px 0px 2px 5px;
    width: 40%;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(45deg,#04d361,#05ac50);
    color: blanchedalmond;
}
div#container-acesso input#button-acesso:hover{
    background: linear-gradient(45deg, #05ac50,#04d361);
}

@media(max-width: 1048px) {
    footer#container-footer{
        justify-content: center;
        flex-direction: column;
    }
    div#redes-sociais{
        margin-top: 30px;
    }
   p#login-admin-text{
       display: block;
       margin-bottom: 40px;
   }
   footer#container-footer textarea{
       width: 80%;
   }
}